<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">
<th:block layout:fragment="content">
    <div class="container mt-5" style="max-width: 450px;">
        <h3 class="text-center mb-4">회원가입</h3>
        <form action = "/member/signup" method ="post" th:object="${signupReq}">
            <div class="mb-3">
                <label class="form-label">이메일</label>
                <input type="email" class="form-control" th:field="*{email}" required>
                <small th:if="${errorEmail} != null"
                       th:text="${errorEmail}"
                       style="color: red; font-size: 0.9em; display: block; margin-top: 5px;">
                </small>
            </div>

            <div class="mb-3">
                <label class="form-label">비밀번호</label>
                <input type="password" class="form-control" th:field="*{pwd}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">이름</label>
                <input type="text" class="form-control" th:field="*{name}">
            </div>

            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" th:field="*{nickName}">
                <small th:if="${errorNickName} != null"
                       th:text="${errorNickName}"
                       style="color: red; font-size: 0.9em; display: block; margin-top: 5px;">
                </small>
            </div>

            <button type="submit" class="btn btn-primary w-100">가입하기</button>
        </form>

        <div class="text-center mt-3">
            <a href="login">이미 계정이 있나요?</a>
        </div>
    </div>
</th:block>
</html>
