<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">
<th:block layout:fragment="content">

    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>게시글 목록</h2>
            <a href="/post/create" class="btn btn-success" th:if="${session.member != null}">글쓰기</a>
        </div>

        <table class="table table-hover text-center">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${res.postList}">
                <td th:text="${post.id}"></td>
                <td><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}"></a></td>
                <td th:text="${post.nickname}"></td>
                <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 페이지네이션 -->
        <nav th:if="${res.pageInfo.totalPage > 1}">
            <ul class="pagination justify-content-center">
                <!-- 첫 페이지 버튼 -->
                <li class="page-item" th:if="${res.pageInfo.currentPage > 1}">
                    <a class="page-link" th:href="@{'/post?page=1'}" aria-label="처음으로"><<</a>
                </li>

                <!-- 이전 버튼 -->
                <li class="page-item" th:if="${res.pageInfo.prev}">
                    <a class="page-link"
                       th:href="@{/post(page=${res.pageInfo.startPage - 1})}"
                       aria-label="이전"><</a>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="p : ${#numbers.sequence(res.pageInfo.startPage, res.pageInfo.endPage)}"
                    th:classappend="${p == res.pageInfo.currentPage} ? 'active'" class="page-item">
                    <a class="page-link" th:text="${p}" th:href="@{'/post?page=' + ${p}}"></a>
                </li>

                <!-- 다음 버튼 -->
                <li class="page-item" th:if="${res.pageInfo.next}">
                    <a class="page-link"
                       th:href="@{/post(page=${res.pageInfo.endPage + 1})}"
                       aria-label="다음">></a>
                </li>

                <!-- 마지막 페이지 버튼 -->
                <li class="page-item" th:if="${res.pageInfo.currentPage < res.pageInfo.totalPage}">
                    <a class="page-link"
                       th:href="@{'/post?page=' + ${res.pageInfo.totalPage}}"
                       aria-label="마지막으로">>></a>
                </li>
            </ul>
        </nav>
    </div>

</th:block>
</html>
